* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header {
    background-color: #e74c3c; /* Red background */
    color: white;
    padding: 15px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.shop-name {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

.login-button {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

.login-button:hover {
    color: #3498db;
}

nav ul li a:hover {
    color: #3498db;
}

.search-bar input {
    padding: 8px;
    border: none;
    border-radius: 5px;
    outline: none;
}

.search-bar button {
    padding: 8px 15px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
    transition: background-color 0.3s;
}

.search-bar button:hover {
    background-color: #2980b9;
}

/* Ẩn dropdown-menu */
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 200px;
    padding: 10px;
    z-index: 1;
}

.dropdown-menu li {
    padding: 8px;
}

.dropdown-menu li a {
    color: #333;
    text-decoration: none;
}

.dropdown-menu li a:hover {
    background-color: #f1f1f1;
}
